<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <nav th:fragment="content" class="navbar sticky-top navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img th:src="@{/images/bootstrap-logo.svg}"  alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          Bootstrap
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Переключатель навигации">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{~/}">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ссылка</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Справочники
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{~/users}">Пользователи</a></li>
                <li><a class="dropdown-item" href="#"  th:href="@{~/departments}">Отделы</a></li>
                <li><a class="dropdown-item" href="#">Роли</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Ссылка</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
          </form>
        </div>
      </div>
    </nav>
  </body>
</html>